.div-container{
    display: flex;
    gap: 50px;
}
.image{
    width: 430px;
}
.div-container{
    background-color: antiquewhite;
    width: 70%;
    margin: 0 auto;
}
.main-section{
    width: 100%;
}